/* —————————————————— */
/* GLOBAL ——————————— */
/* —————————————————— */
/* 
.__text_mode_ENABLED__ {
} 
*/

/* ———————————————————————————————————— */
/* B&W Mode - Page level fix ——————————— */
/* ———————————————————————————————————— */
.__text_mode_white_bg__ {
  background-color: #f9f9f9 !important;
}
.__text_mode_desaturated__ {
  -webkit-filter: grayscale(100%) !important;
}
.__text_mode_increase_contrast__ {
  -webkit-filter: contrast(200%) !important;
}
.__text_mode_desaturated__.__text_mode_increase_contrast__ {
  -webkit-filter: contrast(200%) grayscale(100%) !important;
}

/* ———————————————————————————————————— */
/* BG IMAGES - Prepare ——————————— */
/* ———————————————————————————————————— */
/* 
.__text_mode_ENABLED__ [style*="background-image"],
.__text_mode_ENABLED__ [style*="background-image: url"],
.__text_mode_ENABLED__ [style*="background: url"] {
  background-size: auto !important;
  background-repeat: repeat !important;
}
*/
/* ———————————————————————————————————— */
/* Do not replace the YouTube Overlays for clarity */
/* ———————————————————————————————————— */
.__text_mode_ENABLED__
  [style*="background-image"]:not(.ytp-gradient-bottom):not(.ytp-gradient-top),
.__text_mode_ENABLED__
  [style*="background-image: url"]:not(.ytp-gradient-bottom):not(
    .ytp-gradient-top
  ),
.__text_mode_ENABLED__
  [style*="background: url"]:not(.ytp-gradient-bottom):not(.ytp-gradient-top) {
  background-size: auto !important;
  background-repeat: repeat !important;
}

/* ———————————————————————————————————— */
/* helps avoid flashing */
/* ———————————————————————————————————— */
/* This style auto-removes itself once the extension has loaded */
/* ———————————————————————————————————— */
body:not(.__text_mode_READY__) img[src^="data:image/"] {
  visibility: hidden;
}

body:not(.__text_mode_READY__) svg image[href^="data:image/"],
body:not(.__text_mode_READY__) svg image[xlink\:href^="data:image/"] {
  visibility: hidden;
}

/* ———————————————————————————————————— */
/* IMAGES + BG Images - Replace w/ pattern */
/* ———————————————————————————————————— */
:root {
  --text-mode-opacity-0: 0;
  --text-mode-opacity-10: 0.1;
  --text-mode-opacity-30: 0.3;
  --text-mode-opacity-50: 0.5;
  --text-mode-opacity-70: 0.7;
  --text-mode-opacity-90: 0.9;

  --text-mode-bg-opacity: var(--text-mode-opacity-0);
}

/* ———————————————————————————————————— */
/* VARIANTS */
/* ———————————————————————————————————— */
.__text_mode_fg_10__ {
  --text-mode-fg-opacity: var(--text-mode-opacity-10);
  --text-mode-filter: contrast(0) brightness(1.8);
  --text-mode-stripe-width: 5px; /* 5px 10px */
}
.__text_mode_fg_30__ {
  --text-mode-fg-opacity: var(--text-mode-opacity-30);
  --text-mode-filter: contrast(0) brightness(1.4);
  --text-mode-stripe-width: 6px; /* 5px 10px */
}
.__text_mode_fg_50__ {
  --text-mode-fg-opacity: var(--text-mode-opacity-50);
  --text-mode-filter: contrast(0) brightness(1);
  --text-mode-stripe-width: 7px; /* 5px 10px */
}
.__text_mode_fg_70__ {
  --text-mode-fg-opacity: var(--text-mode-opacity-70);
  --text-mode-filter: contrast(0) brightness(0.6);
  --text-mode-stripe-width: 8px; /* 5px 10px */
}
.__text_mode_fg_90__ {
  --text-mode-fg-opacity: var(--text-mode-opacity-90);
  --text-mode-filter: contrast(0) brightness(0.2);
  --text-mode-stripe-width: 10px; /* 5px 10px */
}

/* ———————————————————————————————————— */
/* BG + FG as f(variants) */
/* ———————————————————————————————————— */
.__text_mode_READY__ {
  --text-mode-fg-color: rgba(
    255,
    170,
    0,
    var(--text-mode-fg-opacity)
  ); /* #fa3 #000f */
  --text-mode-fg-color: rgba(
    0,
    0,
    0,
    var(--text-mode-fg-opacity)
  ); /* #fa3 #000f */
  --text-mode-bg-color: rgba(
    0,
    0,
    0,
    var(--text-mode-bg-opacity)
  ); /* #000 #0000 */

  --text-mode-bg-striped: repeating-linear-gradient(
    -45deg,
    var(--text-mode-fg-color),
    var(--text-mode-fg-color) var(--text-mode-stripe-width),
    var(--text-mode-bg-color) var(--text-mode-stripe-width),
    var(--text-mode-bg-color) calc(var(--text-mode-stripe-width) * 2)
  );
}

.__text_mode_ENABLED__.__text_mode_stripes__ {
  img,
  /* svg, */
  canvas,
  object,
  embed,
  applet image,
  .__text_mode_custom_bg__ {
    background: var(--text-mode-bg-striped) !important;
  }
}
.__text_mode_ENABLED__.__text_mode_solid__ {
  img,
  /* svg, */
  canvas,
  object,
  embed,
  applet image,
  .__text_mode_custom_bg__ {
    background-color: var(--text-mode-fg-color) !important;
  }
}

.__text_mode_ENABLED__ svg {
  filter: var(--text-mode-filter);
}

/* ———————————————————————————————————— */
/* VIDEO */
/* ———————————————————————————————————— */
.__text_mode_ENABLED__.__text_mode_videoless__ video {
  filter: var(--text-mode-filter);
}
.__text_mode_ENABLED__.__text_mode_videoless__.__text_mode_solid__ video {
  .__text_mode_custom_bg__ {
    background-color: var(--text-mode-fg-color) !important;
  }
}
.__text_mode_ENABLED__.__text_mode_videoless__.__text_mode_stripes__ video {
  .__text_mode_custom_bg__ {
    background: var(--text-mode-bg-striped) !important;
  }
}

/* ———————————————————————————————————— */
/* YouTube Message */
/* ———————————————————————————————————— */
.__text_mode_ENABLED__.__text_mode_videoless__ {
  .ytp-error-content-wrap-reason span {
    display: none;
  }
  .ytp-error-content-wrap-reason::after {
    content: "Video blocked by Text Mode.";
  }
}
