* {
  /*background-image: none !important;*/
}
.__plain_text__ {
}
.__text_mode_white_bg__ {
  background-color: #f9f9f9 !important;
}
.__text_mode_desaturated__ {
  -webkit-filter: grayscale(100%) !important;
}
.__text_mode_increase_contrast__ {
  -webkit-filter: contrast(200%) !important;
}
.__text_mode_desaturated__.__text_mode_increase_contrast__ {
  -webkit-filter: contrast(200%) grayscale(100%) !important;
}

.__plain_text__ [style*="background-image"],
.__plain_text__ [style*="background-image: url"],
.__plain_text__ [style*="background: url"] {
  background-size: auto !important;
  background-repeat: repeat !important;
}

.__plain_text__ img,
/* .__plain_text__ svg, */
.__plain_text__ canvas,
.__plain_text__ video,
.__plain_text__ object,
.__plain_text__ embed,
.__plain_text__ applet image,
.__plain_text__ video,
.__plain_text__ .custom-background-class {
  /* outline: 4px solid red;
  outline-offset: -4px; */

  background: repeating-linear-gradient(
    -45deg,
    #000f,
    #000f 10px,
    #fff0 10px,
    #fff0 20px
  ) !important;
}
/* .__plain_text_READY__ img,
.__plain_text_READY__ svg,
.__plain_text_READY__ canvas,
.__plain_text_READY__ video,
.__plain_text_READY__ object,
.__plain_text_READY__ embed,
.__plain_text_READY__ applet image,
.__plain_text_READY__ video, */
.__plain_text__ svg,
.__plain_text__ video {
  filter: contrast(0) brightness(1.5);
  /* filter: contrast(0) brightness(0); */
}

/* .__plain_text__ svg {
  border: 10px solid red;
} */
/* .__plain_text__ svg * {
  display: none;
} */

/* —————————————————— */

.__plain_text_READY__ img,
.__plain_text_READY__ svg,
.__plain_text_READY__ canvas,
.__plain_text_READY__ video,
.__plain_text_READY__ object,
.__plain_text_READY__ embed,
.__plain_text_READY__ applet image,
.__plain_text_READY__ video {
  /* background: repeating-linear-gradient(
    -45deg,
    #000f,
    #000f 10px,
    #fff0 10px,
    #fff0 20px
  ) !important; */
}

.__plain_text_READY__ img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit; /* Takes the background color from the img element */
  opacity: 1; /* Fully opaque to cover the image */
}

.__text_mode_img_1__ img,
.__text_mode_img_1__ svg,
.__text_mode_img_1__ canvas,
.__text_mode_img_1__ video,
.__text_mode_img_1__ object,
.__text_mode_img_1__ iframe,
.__text_mode_img_1__ embed,
.__text_mode_img_1__ applet {
  /* content: url('${chrome.runtime.getURL("imgs/bg/bg_blank_1px.png")}');
  background-image: url("${chrome.runtime.getURL(url)}") !important;
  background-repeat: repeat !important;
  background-size: unset !important; */
}
